* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
/*  не указана мин ширина для страницы, не заданы дефолтные font-weight, line-height и font-size для шрифтов  */
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0;
}

/* Header style start */

.header {
    display: flex;
    align-items: center;
    padding: 62px 0 143px;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 121px;
}

.nav-link {
    text-decoration: none;
    margin-left: 40px;
    Font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
    font-weight: 500;
}

.nav-link:first-child {
    margin-left: 0;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    text-decoration: none;
    color: #212353;
}

/* intro style start */

.intro {
    position: relative;
}

.intro_wrap {
    max-width: 645px;
    display: flex;
    flex-direction: column;
    margin-bottom: 199px;
}

.intro_title {
    font-size: 80px;
    line-height: 88px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #212353;
}

.intro_desc {
    max-width: 380px;
    color: #4B5D68;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 50px;
}

.intro_link {
    max-width: 170px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 50px;
    padding: 18px 37px;
    text-decoration: none;
    background-color: #9C69E2;
    /* лишний отступ ниже */
    color: #FFFFFF;

}

.intro_link-text {
    margin: 0;
}

.intro_link:hover, .intro_link:active, .intro_link:focus {
    opacity: 90%;
}

.intro_bg-pic {
    position: absolute;
    right: -131px;
    bottom: -96px;
    z-index: -1;
}

/* About style start */

.about {
    display: flex;
    align-items: center;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    margin-bottom: 150px;
}

.about_pic {
    margin: 32px 65px 32px 16px;

}

.about_info {
    max-width: 475px;
}

.about_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #212353;
    margin-bottom: 40px;
}

.about_desc {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
}

/* Features style start */

.features {
    margin-bottom: 150px;
}

.features_info {
    max-width: 584px;
    margin: auto;
    text-align: center;
}

.features_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    margin-top: 0;
    margin-bottom: 50px;
}

.features_desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-top: 0;
    margin-bottom: 100px;
}

.features_cards {
    display: flex;
    flex-wrap: wrap;
    margin: -22px;
}


.features_card {
    max-width: 531px;
    display: flex;
    position: relative;
    margin: 22px;
}

.features_bg-pic1 {
    /* шокткад  background: url(../img/features-bg-pic1.png) no-repeat right;  */
    background: url(../img/features-bg-pic1.png) no-repeat;
    background-position: right;
}

.features_bg-pic2 {
    background: url(../img/features-bg-pic2.png) no-repeat;
    background-position: right;
}

.features_bg-pic3 {
    background: url(../img/features-bg-pic3.png) no-repeat;
    background-position: right;
}

.features_bg-pic4 {
    background: url(../img/features-bg-pic4.png) no-repeat;
    background-position: right;
}

.features_card-pic {
    margin: 74px 30px 74px 0;
    object-fit: contain;
}

.features_card-wrap {
    margin: 49px 49px 33px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features_card-title {
    font-weight: 300;
    font-size: 24px;
    /*  line-height в %, процент берётся от текущего размера шрифта, а вовсе не от line-height родителя. */
    line-height: 130%;
    /* цвета надо выносить в переменные */
    color: #212353;
    margin-top: 0;
    margin-bottom: 20px;
}

.features_card-desc {
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    margin-top: 0;
    margin-bottom: 20px;
}

.features_card-more {
    display: inline-block;
    padding-right: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    text-decoration: none;
    background: url(../img/arrow.svg) no-repeat 95% center;
    transition: .2s all;

}

.features_card-more:hover, .features_card-more:focus {
    background: url(../img/arrow.svg) no-repeat right center;
    color: #212353;
    text-decoration: none;
}

/* Slider style start */

.slider_wrapper {
    background: #9C69E2;
    border-radius: 50px;
    margin-bottom: 150px;
}

.slider_position {
    position: relative;
    overflow-x: hidden;
}

.slider_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    padding-top: 109px;
    padding-bottom: 88px;
    padding-left: 93px;
    margin: 0;
}

.slider_wrap {
    margin-left: 93px;
}

.slider_cards {
    width: max-content;
    display: flex;
    position: relative;

}

.slider_card {
    max-width: 570px;
    height: 330px;
    display: flex;
    background: #fff;
    box-shadow: 0 20px 0 rgba(61, 19, 119, 0.3);
    border-radius: 20px;
    margin-right: 20px;
    border: 1px solid #9C69E2;
}

.slider_card-pic {
    margin: 60px 30px 0 70px;
    max-height: 90px;
}

.slider_card-info {
    margin: 80px 70px 50px 0;
}

.slider_card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #212353;
    margin: 0;
}

.slider_card-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #9C69E2;
    margin: 0;
}

.slider_card-desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}

.slider_nav {
    margin-top: 60px;
    margin-right: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.slider_nav-indicators {
    list-style: none;
    display: flex;
    width: 55px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.slider_nav-buttons {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

/* Footer style start */

.footer {
    border-top: 2px solid rgba(156, 105, 226, 0.2);
}

.footer_wrap {
    padding-top: 165px;
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    display: flex;
    align-items: center;
    margin-bottom: 66px;
}

.footer_logo-pic {
    margin-right: 20px;
}

.footer_title {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
}

.footer_address {
    margin-bottom: 10px;
}

.footer_address-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin: 0;
}

.footer_email_tel {
    margin: 0 0 36px 0;
}

.footer_email_tel-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin: 0;
}

.footer_copyright {
    margin-bottom: 65px;
}

.footer_copyright-info {
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin: 0;
}

.footer_social-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    margin: 0 0 30px 0;
}

.footer_social-nav {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    margin: 0;
}

.footer_social-nav-el2 {
    margin-left: 14px;
    margin-right: 14px;
}

@media (max-width: 1400px) {
    .intro_bg-pic {
        max-width: 70%;
        margin-right: 100px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .intro_bg-pic {
        max-width: 65%;

    }

    .about_info {
        margin-right: 20px;
    }

    .features_card {
        flex: 50%;
        max-width: calc(50% - 20px);
        margin: 10px;
    }
}

@media (max-width: 1100px) {
    .intro_bg-pic {
        max-width: 60%;
        right: -100px;
        bottom: -50px;
    }
}

@media (max-width: 1030px) {
    .container {
        max-width: 760px;
    }

    .about {
        margin-bottom: 100px;
    }

    .about_pic {
        max-width: 50%;
        margin-right: 35px;
    }

    .about_info {
        margin-top: auto;
        margin-bottom: auto;
    }

    .about_title {
        margin-bottom: 15px;
        margin-top: auto;
    }

    .features_desc {
        margin-bottom: 60px;
    }

    .features_cards {
        flex-direction: column;
        align-items: center;
    }

    .features_card {
        max-width: calc(70% - 20px);
        margin: 10px;
    }
}

@media (max-width: 830px) {
    .container {
        max-width: 600px;
    }

    .about {
        flex-direction: column;
    }

    .about_info {
        text-align: center;
        margin: 0 0 20px 0;
    }

    .features_card {
        max-width: calc(90% - 20px);
        margin: 10px;
    }

    .slider_wrap {
        margin-left: 63px;
    }

    .slider_title {
        text-align: center;
        padding-left: 0;
    }

    .slider_card {
        max-width: 450px;
    }

    .slider_card-pic {
        margin-top: 30px;
    }

    .slider_card-info {
        margin-top: 35px;
        margin-right: 30px;
    }
}

@media (max-width: 640px) {
    .header {
        justify-content: space-between;
    }

    .container {
        max-width: 90%;
    }

    .intro_bg-pic {
        display: none;
    }

    .intro_wrap {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .slider_wrap {
        margin-left: 30px;
    }

    .slider_nav {
        margin-right: 20px;
    }
}

@media (max-width: 520px) {
    .about_info {
        margin-right: 15px;
        margin-left: 15px;
    }

    .features_cards {
        margin: -10px;
    }

    .features_card {
        flex-direction: column;
        align-items: center;
        max-width: 90%
    }

    .features_bg-pic1 {
        background: rgba(104, 201, 186, 0.1);
    }

    .features_bg-pic2 {
        background: rgba(156, 105, 226, 0.1);
    }

    .features_bg-pic3 {
        background: rgba(240, 99, 184, 0.1);
    }

    .features_bg-pic4 {
        background: rgba(45, 156, 219, 0.1);
    }

    .features_card-wrap {
        align-items: center;
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
    }

    .features_card-pic {
        max-width: 60%;
        margin-right: 0;
        margin-bottom: 0;
    }

    .slider_card {
        max-width: 350px;
        flex-direction: column;
        align-items: center;
    }

    .slider_card-info {
        text-align: center;
        margin: 10px 10px;
    }

    .slider_card-pic {
        margin: 15px auto;
        max-height: none;
        max-width: 20%;
    }

    .footer_logo {
        justify-content: center;
    }

    .footer_wrap {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        margin-bottom: 30px;
    }

    .footer_info {
        text-align: center;
    }

    .footer_social-title {
        text-align: center;
    }

    .footer_copyright {
        margin-bottom: 20px;
    }
}


@media (min-width: 320px) and (max-width: 440px) {
    .nav {
        margin-left: 30px;
    }

    .nav-link {
        margin-left: 20px;
    }

    .slider_title {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .slider_wrap {
        margin-left: 20px;
    }

    .slider_card {
        max-width: 250px;
        height: auto;

    }

    .slider_card-desc {
        margin: 10px auto 5px;
    }
}

