* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
    max-width: 1120px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 62px 0 143px;
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 121px;
}

.nav-link {
    text-decoration: none;
    margin-left: 40px;
    Font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
    font-weight: 500;
}

.nav-link:first-child {
    margin-left: 0;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    text-decoration: none;
    color: #212353;
}

.intro_container {
    position: relative;
    max-width: 1120px;
    margin: auto;
}

.intro {
    max-width: 645px;
    display: flex;
    flex-direction: column;
    margin-bottom: 199px;
}

.intro_title {
    font-size: 80px;
    line-height: 88px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 50px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: #212353;
}

.intro_desc {
    max-width: 380px;
    color: #4B5D68;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 50px;
}

.intro_link {
    max-width: 170px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 50px;
    padding: 18px 37px;
    text-decoration: none;
    background-color: #9C69E2;
    color: #FFFFFF;
}

.intro_link-text {
    margin: 0;
}

.intro_bg-pic {
    position: absolute;
    right: -131px;
    bottom: -96px;
    z-index: -1;
}

.about {
    display: flex;
    align-items: center;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    margin-bottom: 150px;
}

.about_pic {
    margin: 32px 65px 32px 16px;
}

.about_info {
    max-width: 475px;
}

.about_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #212353;
    margin-bottom: 40px;
}

.about_desc {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
}

.features {
    margin-bottom: 150px;
}

.features_info {
    max-width: 584px;
    margin: auto;
    text-align: center;
}

.features_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    margin-top: 0;
    margin-bottom: 50px;
}

.features_desc {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    margin-top: 0;
    margin-bottom: 100px;
}

.features_cards {
    display: flex;
    flex-wrap: wrap;
    margin: -22px;
}


.features_card {
    max-width: 531px;
    display: flex;
    position: relative;
    margin: 22px;
}

.features_bg-pic1 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.features_card-pic {
    margin: 74px 30px 74px 0;
}

.features_card-info {
    margin: 49px 49px 33px 0;
}

.features_card-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
    margin-top: 0;
    margin-bottom: 20px;
}

.features_card-desc {
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
    margin-top: 0;
    margin-bottom: 20px;
}

.features_card-link {
    display: inline-block;
    padding-right: 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
    text-decoration: none;
    background: url(../img/arrow.svg) no-repeat 95% center;
    transition: .2s all;
}

.features_card-link:hover, .features_card-link:focus {
    background: url(../img/arrow.svg) no-repeat right center;
    color: #212353;
    text-decoration: none;
}

.slider {
    background: #9C69E2;
    border-radius: 50px;
}

.slider_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    padding-top:  109px;
    padding-bottom: 88px;
    padding-left: 93px;
    margin: 0;
}

.slider_wrap {
    margin-left: 93px;
    padding-bottom: 130px;
}

.slider_cards {
    display: flex;

}

.slider_card {
    max-width: 570px;
    display: flex;
    background: #fff;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;

}

.slider_card-pic {
    margin: 60px 30px 0 70px;
    max-height: 90px;
}

.slider_card-info {
    margin: 80px 70px 50px 0;
}

.slider_card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    color: #212353;
    margin: 0;
}

.slider_card-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #9C69E2;
    margin: 0;
}

.slider_card-desc {
    font-weight: 300;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}

